.btn {
  display: inline-block;
  padding: 12px 24px;
  @include text-style(13px, 700, 15px, 1.5px);
  text-transform: uppercase;
  text-decoration: none;
  border: 1.5px solid;
  transition: all 0.3s ease;

  &--primary {
    background: transparent;
    color: map-get($colors, 'white');
    border-color: map-get($colors, 'white');

    &:hover {
      background: map-get($colors, 'white');
      color: map-get($colors, 'primary');
    }
  }

  &--secondary {
    background: transparent;
    color: map-get($colors, 'primary');
    border-color: map-get($colors, 'primary');

    &:hover {
      background: map-get($colors, 'primary');
      color: map-get($colors, 'white');
    }
  }
}
.header {
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__toggle-btn {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }

  &__hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    transition: all 0.3s;
    transform: translateX(100%);

    &.show {
      transform: translateX(0%);
    }

    ul {
      flex-direction: column;
    }
  }
}

.sitenav {
  &__list {
    display: flex;
    gap: $nav-gap;
  }

  &__link {
    font-weight: 500;
    font-size: $nav-font-size;
    color: #000;
  }
}

@include respond-to(37px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sitenav {
    display: none;
  }

  .header__toggle-btn {
    display: block;
  }
}
.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}